<div data-role="header">
  <h1>help</h1>
</div>
 
<div data-role="content">
  <ul data-role="listview">
    <li>
      item 123
    </li>
    <li>
      item 456
    </li>
    <li>
      item 789
    </li>
  </ul>

</div>

